html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

h1 {
  margin: 0 !important;
}

label {
  font-weight: 600;
}

#app {
  height: 100%;
  min-width: 1200px;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 9%;
  min-width: 1200px;
  padding: 10px;
  background-color: #64cceff5;
  align-items: center;
}

.header h1 {
  font-family: cursive;
  display: inline;
  color: #fff;
}

.header i.icon {
  margin-top: -10px;
  margin-right: 10px;
  margin-left: 20px;
  color: #fff;
}

.lists {
  display: flex;
  height: 91%;
  width: 100%;
  min-width: 1200px;
  padding: 20px;
  align-items: flex-start;
  background: #e9f6fb;
  overflow: auto;
}

.list-head {
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin-bottom: 5px;
}

.list-foot {
  padding-top: 8px;
  width: 100%;
}

.list-foot .ui.button {
  border-radius: 0 !important;
  width: 100%;
}

.task-list {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
  margin: 0 6px;
  border: none;
  background: #f7f4f4;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.list-content {
  min-height: 57px;
}

.task {
  padding: 10px;
  width: 100%;
  border: 0.2em solid #fff;
  background: #fff;
  margin: 6px 0;
  cursor: pointer;
  border-radius: 0.28571429rem;
  position: relative;
  opacity: 1 !important;
}

.del-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 92%;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
}

.task:hover .del-icon {
  opacity: 1;
}

.close-icon {
  cursor: pointer;
}

.close-icon:hover {
  color: red;
}

/*Media Queries*/

@media screen and (max-width: 1200px) {
  #app {
    overflow-x: auto;
  }
}
